.entities{
    z-index: 3;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 0px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
}

.npc{
    margin: 0 0 0 0;
}

.npcHp{
    position: relative;
    z-index: 4;
    top: -5px;
    color: white;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}

.npcsprite{
    bottom: 0;
    width: 100%;
    height: 100%;
}