.hud {
    position: absolute;
    z-index: 4;
}

.bottomHud {
    display: grid;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.5em;
    color: white;
    grid-gap: 0px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.hp {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5em;
    padding-left: 0.5em;
}

.name {
    background-color: rgba(53, 53, 53, 0.8);
    grid-row: 18 / 19;
    grid-column: 1 / 5;
    font-size: 2em;
    padding: 0.5em;
}

.hpBar {
    grid-row: 19 / 20;
    grid-column-start: 1;
    border: 2px solid gray;
}