.root{
    z-index: 1;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto auto auto;
}

.entities{
    z-index: 2;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 0px;
    grid-border: 10px solid black;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-items: center;
}

.right{
  transition: transform 0.2s;
  transform: rotate(0deg);
}

.left{
  transition: transform 0.2s;
  transform: rotate(180deg);
}

.up{
  transition: transform 0.2s;
  transform: rotate(270deg);
}

.down{
  transition: transform 0.2s;
  transform: rotate(90deg);
}

.player{
  width: 100px;
  height: 100px;
  transition-timing-function: ease;
}

@keyframes shaking{
        from { 
            transform: rotate(-9deg); 
        } to { 
            transform: rotate(9deg); 
        }
}

.red{
    width: 100%;
    height: 100%;
    background-color: #782723;
//    animation: shaking 0.1s linear infinite;
//    animation-direction: alternate;
}

.empty{
    width: 100%;
    height: 100%;
    background-color: #23278a;
    transition: all ease-in-out .5s;
}

